@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Oswald:wght@600&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Caveat:wght@700&family=Knewave&family=Montserrat:wght@500&family=Oswald:wght@300;600&family=Roboto+Condensed:wght@300&display=swap');
.navAMembers {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-family: 'Oswald', sans-serif;
    border-bottom: solid #5f47f9;
}

.navAMembers a {
    width: 20%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    z-index: 1;
    padding: 0.02rem;
    color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-left: 0;
    border-radius: 1.5vh;
    backdrop-filter: blur(1.1vh);
    background-color: rgba(216, 216, 216, 0.217);
    text-decoration: none;
    cursor: pointer;
}

.navAMembers a::before {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 1vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ce0fd8 0%, #5f47f9 100%);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.navAMembers a:hover {
    color: white;
}

.navAMembers a:hover::before {
    width: 100%;
}

/*Members*/
.allMembers{
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
}
.teamCoaches, .teamPsycologist, .teamTerapist{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.divDaniel, .divEssau, .divIrin{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(1.1vh);
    background-color: rgba(0, 0, 0, 0.34);
    border-radius: 5%;
    margin-top: 5%;
}
.imgDaniel, .imgIrin{
    width: 90%;
    height: auto;
}
.imgEssau{
    width: 65%;
    height: auto;
}
.imgGildo{
    width: 70%;
    height: auto;
}
.nameDaniel, .nameEssau, .nameIrin{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.1vh);
    background-color: rgba(0, 0, 0, 0.628);
    color:white;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 1200;
    position: absolute;
    margin-top: 80%;
}
.pDaniel, .pEssau, .pIrin{
    width: 100%;
    height: auto;
    margin-top: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
}