@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Oswald:wght@600&family=Roboto+Condensed:wght@300&display=swap');

nav {
    position: fixed;
    top: 8vh;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(1.1vh);
    background-color: rgba(255, 255, 255, 0.756);
    width: 100vw;
    height: 6vh;
    z-index: 1;
}

.a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: black;
    border-radius: 0.5vh;
    font-weight: bold;
    font-size: 2.2vh;
    font-size: larger;
}

.a:hover {
    font-size: 1.5vw;
    color: rgb(171, 9, 9);
}

@media screen and (max-width: 6.7in) {
    nav {
        height: 5vh;
    }

    .a {
        font-weight: bold;
        font-size: 1.8vh;
    }

    .a:hover {
        color: rgb(171, 9, 9);
        font-size: 1.8vh;
    }
}