@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

footer {
    width: 100vw;
    height: 4vh;
    backdrop-filter: blur(1.1vh);
    background-color: rgba(255, 255, 255, 0.756);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Caveat', cursive;
}

@media screen and (max-width: 6.7in) {
    footer {
        height: 4vh;
        backdrop-filter: blur(1.1vh);
        background-color: rgba(255, 255, 255, 0.756);
        font-size: large;
        position: absolute;
    }
}