@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

footer {
    width: 100vw;
    height: 5vh;
    margin-top: auto;
    backdrop-filter: blur(1.1vh);
    background-color: rgba(255, 255, 255, 0.438);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Caveat', cursive;
}
.spanDS{
    color: black;
    display: flex;
    align-items: center;
}
.divGithub, .nameGithub{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0.5vh;
}
.aGithub{
    text-decoration: none;
    color: black;
}
.aGithub:hover{
    text-decoration:underline;
    color: rebeccapurple;
}
.imgGithub{
    width: 1.5vw;
    height: auto;
}

@media screen and (max-width: 6.7in) {
    footer {
        height: 4vh;
        backdrop-filter: blur(1.1vh);
        background-color: rgba(255, 255, 255, 0.756);
        font-size: large;
    }
    .imgGithub{
        width: 4vw;
        height: auto;
    }
}